/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 1.3em;
    padding-top: 30px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    margin: 0 0 0 60px;
    padding-top: 25px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 23px;
}

.formulaire {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.bloc-logo-localisation {
    background-color: var(--main-bg-color);
    width: 50px;
    position: relative;
    border-radius: 15px 0 0 15px;
}

.bloc-logo-localisation i {
    color: unset;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}

form input {
    height: 100%;
    padding: 0;
    border: none;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    width: 190px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    outline: none;
}

.button-rechercher input[type="button"] {
    background-color: var(--main-color);
    color: white;
    font-size: 1em;
    font-weight: 600;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    height: 100%;
    border: none;
}

/******Style pour boutton sur mobile******/
.button-icone-rechercher {
    background-color: var(--main-color);
    width: 50px;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: none;
}

.button-icone-rechercher i {
    color: white;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}