/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.information-footer-link {
    font-size: 16px;
    font-weight: 400;
}

/****** Header ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 19px;
    padding-top: 30px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    margin-left: 64px;
    padding-top: 17px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 15px;
}

/****** Headline ******/
.headline {
    margin-top: 56px;
}

.headline .information-footer-link {
    margin-top: 8px;
}

/****** Formulaire ******/
.formulaire {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49px;
    width: 377px;
}

.formulaire form {
    display: flex;
    flex-direction: row;
}

.container-logo-location {
    height: 49px;
    width: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo-location i {
    color: unset;
    font-size: 18px;
}

form input {
    height: 49px;
    width: 192px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    outline: none;
}

.button-rechercher {
    height: 49px;
    width: 132px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
}

.button-icone-rechercher {
    display: none;
}

/****** Filtres ******/
.filtres {
    margin-top: 35px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtres-title h5 {
    font-size: 18px;
    font-weight: 700;
}

.filtres i {
    font-size: 22px;
}

.button-filtres {
    display: flex;
    flex-direction: row;
}

.button-eco-fam-responsive,
.button-rom-pep-responsive {
    display: flex;
    flex-direction: row;
}

.button-economique a, 
.button-familial a,
.button-romantique a,
.button-nos-pepites a {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 700;
    border: solid var(--main-bg-color) 2px;
    padding: 13px 17px 13px 17px;
    border-radius: 40px;
    margin-left: 15px;
}

.button-economique a:hover, 
.button-familial a:hover,
.button-romantique a:hover,
.button-nos-pepites a:hover {
    background-color: var(--filter-bg-color);
}

.button-economique p,
.button-familial p,
.button-romantique p,
.button-nos-pepites p {
    margin-left: 10px;
}
   
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
/****** Filtres ******/
    .filtres {
        margin-top: 35px;
        height: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
    }

    .button-economique a, 
    .button-familial a,
    .button-romantique a,
    .button-nos-pepites a {
        font-size: 16px;
        font-weight: 700;
        margin: 16px 15px 0 0;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /***** Général *****/
    .main-container {
        padding: 0;
    }
    
    /****** Header ******/
header {
    display: flex;
    flex-direction: column;
}

.logo {
    padding-bottom: 30px;
    margin: auto;
}

nav a {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 17px;
    width: 50%;
    text-align: center;
}

nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-top: 0;
    padding-bottom: 15px;
}

/***** Headline *****/
.headline {
    margin: 35px 30px 0 30px;
}

/****** Formulaire ******/
.formulaire {
    margin: 35px 5px 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
}

form input {
    width: 100%;
    position: relative;
}

.button-rechercher {    
    display: none;
}

.button-icone-rechercher  {
    background-color: var(--main-color);
    height: 49px;
    width: 57px;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*position: absolute;
    right: 25px;*/
}

.button-icone-rechercher i {
    color: white;
}




    /* ... */
}